#/**
# * @file ml.config
# * @author candas
# * @date 7/14/19
# */
# All lines that begin with a # or are empty are ignored and not counted
# The first line has to be the path to the model
# The second line has to be the input config of the model, 1, 2 or 3
# Config1: particle count, box length, cut off, verlet skin radius
# Config2: picture (8x8x8)
# Config3: Config1 + Config2
# The third line (optional) is which values to normalize all variables with
# The third line has to Start with "Norm:" or it is disabled
# The third line has to have 4 values for config1, 1 for config2, 5 for config3
# All other lines are the ordered output values of the model
# An example can be like the following 25 lines, without #
#example/fdeep_model.json
#1
#Norm:125000,12,4,0.3
#{Container: VerletListsCells , Traversal: verlet-c01 , Data Layout: Array-of-Structures , Newton 3: disabled}
#{Container: VerletListsCells , Traversal: verlet-c18 , Data Layout: Array-of-Structures , Newton 3: disabled}
#{Container: VerletListsCells , Traversal: verlet-c18 , Data Layout: Array-of-Structures , Newton 3: enabled}
#{Container: VerletListsCells , Traversal: verlet-sliced , Data Layout: Array-of-Structures , Newton 3: disabled}
#{Container: VerletListsCells , Traversal: verlet-sliced , Data Layout: Array-of-Structures , Newton 3: enabled}
#{Container: VerletLists , Traversal: verlet-lists , Data Layout: Structure-of-Arrays , Newton 3: disabled}
#{Container: VerletLists , Traversal: verlet-lists , Data Layout: Structure-of-Arrays , Newton 3: enabled}
#{Container: LinkedCells , Traversal: c08 , Data Layout: Structure-of-Arrays , Newton 3: disabled}
#{Container: LinkedCells , Traversal: sliced , Data Layout: Array-of-Structures , Newton 3: disabled}
#{Container: LinkedCells , Traversal: c08 , Data Layout: Structure-of-Arrays , Newton 3: enabled}
#{Container: LinkedCells , Traversal: c08 , Data Layout: Array-of-Structures , Newton 3: disabled}
#{Container: LinkedCells , Traversal: sliced , Data Layout: Structure-of-Arrays , Newton 3: enabled}
#{Container: LinkedCells , Traversal: c08 , Data Layout: Array-of-Structures , Newton 3: enabled}
#{Container: LinkedCells , Traversal: sliced , Data Layout: Structure-of-Arrays , Newton 3: disabled}
#{Container: LinkedCells , Traversal: c18 , Data Layout: Array-of-Structures , Newton 3: disabled}
#{Container: LinkedCells , Traversal: c18 , Data Layout: Structure-of-Arrays , Newton 3: enabled}
#{Container: LinkedCells , Traversal: sliced , Data Layout: Array-of-Structures , Newton 3: enabled}
#{Container: LinkedCells , Traversal: c18 , Data Layout: Structure-of-Arrays , Newton 3: disabled}
#{Container: LinkedCells , Traversal: c01 , Data Layout: Array-of-Structures , Newton 3: disabled}
#{Container: LinkedCells , Traversal: c18 , Data Layout: Array-of-Structures , Newton 3: enabled}
#{Container: LinkedCells , Traversal: c01 , Data Layout: Structure-of-Arrays , Newton 3: disabled}
#{Container: VerletLists , Traversal: verlet-lists , Data Layout: Array-of-Structures , Newton 3: enabled}
#{Container: VerletLists , Traversal: verlet-lists , Data Layout: Array-of-Structures , Newton 3: disabled}
fdeep_model.json
1
Norm:125000,12,4,0.3
{Container: VerletListsCells , Traversal: verlet-c01 , Data Layout: Array-of-Structures , Newton 3: disabled}
{Container: VerletListsCells , Traversal: verlet-c18 , Data Layout: Array-of-Structures , Newton 3: disabled}
{Container: VerletListsCells , Traversal: verlet-c18 , Data Layout: Array-of-Structures , Newton 3: enabled}
{Container: VerletListsCells , Traversal: verlet-sliced , Data Layout: Array-of-Structures , Newton 3: disabled}
{Container: VerletListsCells , Traversal: verlet-sliced , Data Layout: Array-of-Structures , Newton 3: enabled}
{Container: VerletLists , Traversal: verlet-lists , Data Layout: Structure-of-Arrays , Newton 3: disabled}
{Container: VerletLists , Traversal: verlet-lists , Data Layout: Structure-of-Arrays , Newton 3: enabled}
{Container: LinkedCells , Traversal: c08 , Data Layout: Structure-of-Arrays , Newton 3: disabled}
{Container: LinkedCells , Traversal: sliced , Data Layout: Array-of-Structures , Newton 3: disabled}
{Container: LinkedCells , Traversal: c08 , Data Layout: Structure-of-Arrays , Newton 3: enabled}
{Container: LinkedCells , Traversal: c08 , Data Layout: Array-of-Structures , Newton 3: disabled}
{Container: LinkedCells , Traversal: sliced , Data Layout: Structure-of-Arrays , Newton 3: enabled}
{Container: LinkedCells , Traversal: c08 , Data Layout: Array-of-Structures , Newton 3: enabled}
{Container: LinkedCells , Traversal: sliced , Data Layout: Structure-of-Arrays , Newton 3: disabled}
{Container: LinkedCells , Traversal: c18 , Data Layout: Array-of-Structures , Newton 3: disabled}
{Container: LinkedCells , Traversal: c18 , Data Layout: Structure-of-Arrays , Newton 3: enabled}
{Container: LinkedCells , Traversal: sliced , Data Layout: Array-of-Structures , Newton 3: enabled}
{Container: LinkedCells , Traversal: c18 , Data Layout: Structure-of-Arrays , Newton 3: disabled}
{Container: LinkedCells , Traversal: c01 , Data Layout: Array-of-Structures , Newton 3: disabled}
{Container: LinkedCells , Traversal: c18 , Data Layout: Array-of-Structures , Newton 3: enabled}
{Container: LinkedCells , Traversal: c01 , Data Layout: Structure-of-Arrays , Newton 3: disabled}
{Container: VerletLists , Traversal: verlet-lists , Data Layout: Array-of-Structures , Newton 3: enabled}
{Container: VerletLists , Traversal: verlet-lists , Data Layout: Array-of-Structures , Newton 3: disabled}
