# Workflow for unit tests
name: CI

# This Workflow is triggered by any PR or a direct push to master.
on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, converted_to_draft]

# abort old runs if a new one is started
concurrency:
  group: ${{ github.head_ref }}-tests
  cancel-in-progress: true

jobs:

  # Check that everything is formatted correctly. This does not apply any changes!
  StyleCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Run the style check
      - uses: DoozyX/clang-format-lint-action@v0.18.2
        with:
          source: 'src tests examples applicationLibrary tools'
          # exclude: 'none'
          extensions: 'h,cpp'
          clangFormatVersion: 14
          style: file

  # Make sure contribution guidelines are followed. This does not apply any changes!
  CustomChecks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checks
        # this exits immediately when any command returns != 0
        run: |
          # enable recursive globbing syntax
          shopt -s globstar
          # '!' at the beginning of the line negates the exit code
          # all headers should contain pragma once
          ! grep --files-without-match '#pragma once' **/*.h
          # all files should contain a file comment
          ! grep --files-without-match '@file' **/*.{h,cpp}
          # no file should contain 'NULL'
          ! grep --word-regexp 'NULL' **/*.{h,cpp}
          # no file should contain 'assert'
          ! grep --word-regexp 'assert' **/*.{h,cpp}
          # no file should include autopas with '<>'
          ! grep '#include <autopas' **/*.{h,cpp}
          # prohibit 'typedef' to force 'using'
          ! grep --word-regexp 'typedef' **/*.{h,cpp}
          # prohibit old usage of AUTOPAS_OPENMP
          ! grep '#ifdef AUTOPAS_OPENMP'  **/*.{h,cpp}
          ! grep '#if defined.AUTOPAS_OPENMP'  **/*.{h,cpp}

  SetupConfigs:
    runs-on: ubuntu-latest
    outputs:
      matrix-config: ${{ steps.set-matrix.outputs.config }}
    steps:
      - id: set-matrix
        shell: bash
        run: |
          # 1. Define the FULL Matrix
          read -r -d '' full_matrix << EOM || true
          [
            { "name": "Clang-Debug-CompileOnly", "container": "autopas-build-clang", "cc": "clang", "cxx": "clang++", "builder": "Ninja", "mode": "Debug", "omp": "ON", "asan": "OFF", "tsan": "OFF", "avx": "ON", "site": "singlesite" },
            { "name": "Clang-Release-ASan", "container": "autopas-build-clang",  "cc": "clang", "cxx": "clang++", "builder": "Ninja", "mode": "Release", "omp": "OFF", "asan": "ON",  "tsan": "OFF", "avx": "ON",  "site": "singlesite" },
            { "name": "Clang-Release-OMP-TSan", "container": "autopas-build-archer", "cc": "clang", "cxx": "clang++", "builder": "Ninja", "mode": "Release", "omp": "ON",  "asan": "OFF", "tsan": "ON",  "avx": "ON",  "site": "singlesite" },
            { "name": "GCC-Release-OMP", "container": "autopas-build-gcc",    "cc": "gcc",   "cxx": "g++",     "builder": "Unix Makefiles", "mode": "Release", "omp": "ON",  "asan": "OFF", "tsan": "OFF", "avx": "ON",  "site": "singlesite" },
            { "name": "MPI-Release-OMP-ASan", "container": "autopas-build-gcc", "cc": "mpicc", "cxx": "mpic++",  "builder": "Unix Makefiles", "mode": "Release", "omp": "ON",  "asan": "ON",  "tsan": "OFF", "avx": "ON", "site": "singlesite" },
            { "name": "Clang-OMP-TSan-MultiSite", "container": "autopas-build-archer", "cc": "clang", "cxx": "clang++", "builder": "Ninja", "mode": "Release", "omp": "ON",  "asan": "OFF", "tsan": "ON",  "avx": "OFF", "site": "multisite" },
            { "name": "MPI-MultiSite", "container": "autopas-build-gcc", "cc": "mpicc", "cxx": "mpic++",  "builder": "Unix Makefiles", "mode": "Release", "omp": "ON",  "asan": "ON",  "tsan": "OFF", "avx": "OFF", "site": "multisite" }
          ]
          EOM

          # 2. Define the LIGHT Matrix
          # Just one representative config.
          read -r -d '' light_matrix << EOM || true
          [
            { "name": "Clang-Release-OMP-ASan", "container": "autopas-build-clang",  "cc": "clang", "cxx": "clang++", "builder": "Ninja", "mode": "Release", "omp": "ON", "asan": "ON",  "tsan": "OFF", "avx": "ON",  "site": "singlesite" }
          ]
          EOM
          
          # 1. Master always runs Full
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            echo "Trigger: Master branch. Using FULL matrix."
            matrix_json="$full_matrix"

          # 2. If PR is NOT a Draft -> Run Full
          # (github.event.pull_request.draft is 'false' when Ready for Review)
          elif [[ "${{ github.event.pull_request.draft }}" == "false" ]]; then
            echo "Trigger: PR is Ready (Not Draft). Using FULL matrix."
            matrix_json="$full_matrix"

          # 3. If PR IS a Draft -> Run Light
          else
            echo "Trigger: PR is Draft. Using LIGHT matrix."
            matrix_json="$light_matrix"
          fi

          # Output the result
          echo "config=$(echo "$matrix_json" | jq -c .)" >> $GITHUB_OUTPUT

  BuildJob:
    needs: SetupConfigs
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # Defined in the SetupConfigs job
        config: ${{ fromJson(needs.SetupConfigs.outputs.matrix-config) }}

    name: Build ${{ matrix.config.name }}
    container:
      image: autopas/${{ matrix.config.container }}
      # Don't use the docker file entrypoint.sh, which changes ccache variables
      options: --entrypoint /bin/bash

    env:
      CCACHE_DIR: "${{ github.workspace }}/.ccache"
      CCACHE_BASEDIR: "${{ github.workspace }}"
      CCACHE_SLOPPINESS: "include_file_ctime,time_macros"
      CCACHE_COMPILERCHECK: "content"
      CCACHE_MAXSIZE: "500M"

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ccache
        uses: actions/cache@v4
        with:
          path: .ccache
          # Key: Config Name + SHA
          key: ccache-${{ matrix.config.name }}-${{ github.sha }}
          restore-keys: ccache-${{ matrix.config.name }}-

      - name: Build Everything
        run: |
          # derive whether or not to compile with MPI options ON.
          [ "${{ matrix.config.cc }}" = 'mpicc' ] && UseMPI=ON || UseMPI=OFF          
          mkdir build && cd build
          
          # -march=x86-64-v3 covers Haswell (2013) and newer. Safe for all GHA runners.
          export CFLAGS="-march=x86-64-v3"
          export CXXFLAGS="-march=x86-64-v3"
          
          CC=${{ matrix.config.cc }} CXX=${{ matrix.config.cxx }} cmake \
            -G "${{ matrix.config.builder }}" \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache \
            -DCCACHE=ON \
            -DCMAKE_BUILD_TYPE=${{ matrix.config.mode }} \
            -DAUTOPAS_LOG_ALL=ON \
            -DAUTOPAS_MIN_LOG_LVL:STRING=TRACE \
            -DAUTOPAS_OPENMP=${{ matrix.config.omp }} \
            -DAUTOPAS_ENABLE_ADDRESS_SANITIZER=${{ matrix.config.asan }} \
            -DAUTOPAS_ENABLE_THREAD_SANITIZER=${{ matrix.config.tsan }} \
            -DAUTOPAS_INTERNODE_TUNING=${UseMPI} \
            -DAUTOPAS_USE_VECTORIZATION=OFF \
            -DMD_FLEXIBLE_USE_MPI=${UseMPI} \
            -DMD_FLEXIBLE_MODE=${{ matrix.config.site }} \
            -DMD_FLEXIBLE_FUNCTOR_AUTOVEC=ON \
            -DMD_FLEXIBLE_FUNCTOR_AVX=${{ matrix.config.avx }} \
            -DMD_FLEXIBLE_FUNCTOR_SVE=OFF \
            -DMD_FLEXIBLE_ENABLE_ALLLBL=${UseMPI} \
            -DAUTOPAS_ENABLE_HARMONY=ON \
            -DAUTOPAS_ENABLE_RULES_BASED_AND_FUZZY_TUNING=ON \
            -DAUTOPAS_ENABLE_ENERGY_MEASUREMENTS=ON \
            -DAUTOPAS_ENABLE_DYNAMIC_CONTAINERS=ON \
            ..
          cmake --build . --parallel $(nproc)

      - name: Tar Build Folder
        run: tar -czf build.tar.gz build

      - name: Save Build Folder
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.config.name }}
          path: build.tar.gz
          retention-days: 1

  TestJob:
    needs: [SetupConfigs, BuildJob]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        part: [ 1, 2, 3, 4 ]
        config: ${{ fromJson(needs.SetupConfigs.outputs.matrix-config) }}

        exclude:
          # Exclude debug builds
          - config: { mode: "Debug" }
          # Exclude multisite tests (to later be re-added for some configurations)
          - config: { site: "multisite" }
            part: 2
          - config: { site: "multisite" }
            part: 3
          - config: { site: "multisite" }
            part: 4
          # Exclude MPI configuration from part 2, as there are not many tests and so don't need to be split
          - config: { cc: "mpicc" }
            part: 2
          - config: { cc: "mpicc" }
            part: 3
          - config: { cc: "mpicc" }
            part: 4

    name: Run tests ${{ matrix.config.name }} (${{ matrix.part }}/4)
    container:
      image: autopas/${{ matrix.config.container }}
      options: --entrypoint /bin/bash

    env:
      TSAN_OPTIONS: "ignore_noninstrumented_modules=1"
      LSAN_OPTIONS: "verbosity=1:log_threads=1"

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch Build Folder
        uses: actions/download-artifact@v4
        with:
          name: build-${{ matrix.config.name }}
          path: .

      - name: Extract Build Folder
        run: tar -xzf build.tar.gz

      - name: Run tests
        run: |
          cd build
          
          # --- CASE 1: Single-Site (Standard) ---
          if [[ "${{ matrix.config.site }}" == 'singlesite' ]]; then
          
            # Non-MPI: Run split tests
            if [[ "${{ matrix.config.cc }}" != 'mpicc' ]]; then
               # Run tests split in 4
               ctest --output-on-failure -I ${{ matrix.part }},,4 -j $(nproc)
          
               cd applicationLibrary
               ctest --output-on-failure -I ${{ matrix.part }},,4 -j $(nproc)
          
               cd ../examples
               ctest --output-on-failure --build-config checkExamples -I ${{ matrix.part }},,4 -j $(nproc)
          
            # MPI: Run all tests
            else
               ctest --output-on-failure --tests-regex MPIParallelAutoPasTests -j $(nproc)
               cd examples
               ctest --output-on-failure --build-config checkExamples --exclude-regex 'sph-((main.test)|(diagram.*))' -j $(nproc)
            fi
          fi
          
          # --- CASE 2: Multi-Site ---
          if [[ "${{ matrix.config.site }}" == 'multisite' ]]; then
            cd applicationLibrary
            # Only run multisite tests for non-mpi case
             if [[ "${{ matrix.config.cc }}" != 'mpicc' ]]; then
             ctest --output-on-failure --tests-regex '[mM]ulti[sS]ite'
             fi
             cd ../examples/md-flexible
             ctest --output-on-failure --build-config mdFlexTests
          fi

  macOSJob:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        # On macOS the aliases clang and gcc both point by default to Apple Clang
        # To use GNU gcc, we need to explicitly point to the installation directory or use the versioned
        # executable as installed by brew (in this workflow gcc@14)
        compiler: [ [ clang, clang++ ], [ gcc-14, g++-14 ] ]
    name: macOS Build, Compile, and Run using ${{matrix.compiler[0]}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install requirements
        run: |
          brew install libomp gcc@14 ninja
      - name: Configure and Build md-flexible
        run: |
          mkdir build && cd build
          CC=${{matrix.compiler[0]}} CXX=${{matrix.compiler[1]}} cmake .. -G Ninja \
            -DCMAKE_PREFIX_PATH=/opt/homebrew/opt/libomp \
            -DCMAKE_BUILD_TYPE=Release \
            -DAUTOPAS_LOG_ITERATIONS=ON \
            -DMD_FLEXIBLE_FUNCTOR_AUTOVEC=ON \
            -DMD_FLEXIBLE_FUNCTOR_AVX=OFF \
            -DMD_FLEXIBLE_FUNCTOR_SVE=OFF \
            -DAUTOPAS_ENABLE_ENERGY_MEASUREMENTS=OFF
          cmake --build . --target md-flexible
      - name: Run md-flexible
        run: cd build/examples/md-flexible && ./md-flexible