# Workflow for unit tests
name: CI

# This Workflow is triggered by any PR or a direct push to master.
on:
  push:
    branches: [ master ]
  pull_request:

# abort old runs if a new one is started
concurrency:
  group: ${{ github.head_ref }}-tests
  cancel-in-progress: true

jobs:

  # Check that everything is formatted correctly. This does not apply any changes!
  StyleCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Run the style check
      - uses: DoozyX/clang-format-lint-action@v0.18.2
        with:
          source: 'src tests examples applicationLibrary tools'
          # exclude: 'none'
          extensions: 'h,cpp'
          clangFormatVersion: 14
          style: file

  # Make sure contribution guidelines are followed. This does not apply any changes!
  CustomChecks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checks
        # this exits immediately when any command returns != 0
        run: |
          # enable recursive globbing syntax
          shopt -s globstar
          # '!' at the beginning of the line negates the exit code
          # all headers should contain pragma once
          ! grep --files-without-match '#pragma once' **/*.h
          # all files should contain a file comment
          ! grep --files-without-match '@file' **/*.{h,cpp}
          # no file should contain 'NULL'
          ! grep --word-regexp 'NULL' **/*.{h,cpp}
          # no file should contain 'assert'
          ! grep --word-regexp 'assert' **/*.{h,cpp}
          # no file should include autopas with '<>'
          ! grep '#include <autopas' **/*.{h,cpp}
          # prohibit 'typedef' to force 'using'
          ! grep --word-regexp 'typedef' **/*.{h,cpp}
          # prohibit old usage of AUTOPAS_OPENMP
          ! grep '#ifdef AUTOPAS_OPENMP'  **/*.{h,cpp}
          ! grep '#if defined.AUTOPAS_OPENMP'  **/*.{h,cpp}

  MatrixJob:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        part: [ 1, 2 ] # Split tests into two parts, to be run by separate runners
        config:
          # --- Standard Configurations ---
          - { name: "Clang Release", container: "autopas-build-clang",  cc: "clang", cxx: "clang++", builder: "Ninja",             mode: "Release", omp: "OFF", asan: "ON",  tsan: "OFF", avx: "ON",  site: "singlesite" }
          - { name: "Clang Debug",   container: "autopas-build-clang",  cc: "clang", cxx: "clang++", builder: "Ninja",             mode: "Debug",   omp: "ON",  asan: "ON",  tsan: "OFF", avx: "ON",  site: "singlesite" }
          - { name: "Clang TSan",    container: "autopas-build-archer", cc: "clang", cxx: "clang++", builder: "Ninja",             mode: "Release", omp: "ON",  asan: "OFF", tsan: "ON",  avx: "ON",  site: "singlesite" }

          # --- GCC & MPI ---
          - { name: "GCC Release",   container: "autopas-build-gcc",    cc: "gcc",   cxx: "g++",     builder: "Unix Makefiles", mode: "Release", omp: "ON",  asan: "OFF", tsan: "OFF", avx: "ON",  site: "singlesite" }
          - { name: "MPI Release",   container: "autopas-build-gcc",    cc: "mpicc", cxx: "mpic++",  builder: "Unix Makefiles", mode: "Release", omp: "ON",  asan: "ON",  tsan: "OFF", avx: "ON",  site: "singlesite" }

          # --- Multi-Site ---
          - { name: "MultiSite TSan", container: "autopas-build-archer", cc: "clang", cxx: "clang++", builder: "Ninja",             mode: "Release", omp: "ON",  asan: "OFF", tsan: "ON",  avx: "OFF", site: "multisite" }
          - { name: "MultiSite MPI",  container: "autopas-build-gcc",    cc: "mpicc", cxx: "mpic++",  builder: "Unix Makefiles", mode: "Release", omp: "ON",  asan: "ON",  tsan: "OFF", avx: "OFF", site: "multisite" }

        exclude:
          # Remove Part 2 for Debug as we only test compilation in debug mode.
          - config: { mode: "Debug" }
            part: 2
          # Exclude multisite tests (to later be re-added for some configurations)
          - config: { name: "MultiSite TSan" }
            part: 2
          - config: { name: "MultiSite MPI" }
            part: 2
          # Exclude MPI configuration from part 2, as there are not many tests and so don't need to be split
          - config: { name: "MPI Release" }
            part: 2

    name: ${{ matrix.config.name }} (${{ matrix.part }}/2)
    container: autopas/${{ matrix.config.container }}

    env:
      TSAN_OPTIONS: "ignore_noninstrumented_modules=1"
      LSAN_OPTIONS: "verbosity=1:log_threads=1"
      CCACHE_DIR: "${{ github.workspace }}/.ccache"
      CCACHE_BASEDIR: "${{ github.workspace }}"
      CCACHE_MAXSIZE: "500M"

    defaults:
      run:
        # make sure the scripts are executed with bash (needed for [[) and not sh.
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare ccache
        run: |
          mkdir -p $CCACHE_DIR
          # Permissions fix for act containers
          chmod -R 777 $CCACHE_DIR

      - name: Ccache
        uses: actions/cache@v4
        with:
          path: .ccache
          # Key: Config Name + SHA. Shared between Part 1 and Part 2.
          key: ccache-${{ matrix.config.name }}-${{ github.sha }}
          restore-keys: |
            ccache-${{ matrix.config.name }}-

      - name: Build everything
        run: |
          # derive whether or not to compile with MPI options ON.
          [ "${{ matrix.config.cc }}" = 'mpicc' ] && UseMPI=ON || UseMPI=OFF          
          mkdir build && cd build

          CC=${{ matrix.config.cc }} CXX=${{ matrix.config.cxx }} cmake \
            -G "${{ matrix.config.builder }}" \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache \
            -DCCACHE=ON \
            -DCMAKE_BUILD_TYPE=${{ matrix.config.mode }} \
            -DAUTOPAS_LOG_ALL=ON \
            -DAUTOPAS_MIN_LOG_LVL:STRING=TRACE \
            -DAUTOPAS_OPENMP=${{ matrix.config.omp }} \
            -DAUTOPAS_ENABLE_ADDRESS_SANITIZER=${{ matrix.config.asan }} \
            -DAUTOPAS_ENABLE_THREAD_SANITIZER=${{ matrix.config.tsan }} \
            -DAUTOPAS_INTERNODE_TUNING=${UseMPI} \
            -DMD_FLEXIBLE_USE_MPI=${UseMPI} \
            -DMD_FLEXIBLE_MODE=${{ matrix.config.site }} \
            -DMD_FLEXIBLE_FUNCTOR_AUTOVEC=ON \
            -DMD_FLEXIBLE_FUNCTOR_AVX=${{ matrix.config.avx }} \
            -DMD_FLEXIBLE_FUNCTOR_SVE=OFF \
            -DMD_FLEXIBLE_ENABLE_ALLLBL=${UseMPI} \
            -DAUTOPAS_ENABLE_HARMONY=ON \
            -DAUTOPAS_ENABLE_RULES_BASED_AND_FUZZY_TUNING=ON \
            -DAUTOPAS_ENABLE_ENERGY_MEASUREMENTS=ON \
            -DAUTOPAS_ENABLE_DYNAMIC_CONTAINERS=ON \
            ..
          entrypoint.sh cmake --build . --parallel 8

      - name: Run tests ${{ matrix.part }}/2
        # todo remove this
        # Skip tests for Debug builds (compilation check only)
        if: matrix.config.mode != 'Debug'

        run: |
          cd build
          
          # --- CASE 1: Single-Site (Standard) ---
          if [[ "${{ matrix.config.site }}" == 'singlesite' ]]; then
          
            # Non-MPI: Run split tests
            if [[ "${{ matrix.config.cc }}" != 'mpicc' ]]; then
               # Use 'part' to split the load.
               # If 'part' is 1, it runs tests 1,3,5...
               # If 'part' is 2, it runs tests 2,4,6...
               ctest --output-on-failure -I ${{ matrix.part }},,2 -j $(nproc)
          
               cd applicationLibrary
               ctest --output-on-failure -I ${{ matrix.part }},,2 -j $(nproc)
          
               cd ../examples
               ctest --output-on-failure --build-config checkExamples -I ${{ matrix.part }},,2 -j $(nproc)
          
            # MPI: Run all tests (Part 2 excluded in matrix)
            else
               ctest --output-on-failure --tests-regex MPIParallelAutoPasTests -j $(nproc)
               cd examples
               ctest --output-on-failure --build-config checkExamples --exclude-regex 'sph-((main.test)|(diagram.*))' -j $(nproc)
            fi
          fi
          
          # --- CASE 2: Multi-Site ---
          if [[ "${{ matrix.config.site }}" == 'multisite' ]]; then
            cd applicationLibrary
            # Only run multisite tests for non-mpi case
             if [[ "${{ matrix.config.cc }}" != 'mpicc' ]]; then
             ctest --output-on-failure --tests-regex '[mM]ulti[sS]ite'
             fi
             cd ../examples/md-flexible
             ctest --output-on-failure --build-config mdFlexTests
          fi

      - name: Check ccache stats
        # Run this even if build fails so we see if cache was populated
        if: always()
        run: |
          echo "Checking ccache statistics..."
          ccache -s
          echo "Contents of cache dir:"
          ls -la $CCACHE_DIR

  macOSJob:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        # On macOS the aliases clang and gcc both point by default to Apple Clang
        # To use GNU gcc, we need to explicitly point to the installation directory or use the versioned
        # executable as installed by brew (in this workflow gcc@14)
        compiler: [ [ clang, clang++ ], [ gcc-14, g++-14 ] ]
    name: macOS Build, Compile, and Run using ${{matrix.compiler[0]}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install requirements
        run: |
          brew install libomp gcc@14 ninja
      - name: Configure and Build md-flexible
        run: |
          mkdir build && cd build
          CC=${{matrix.compiler[0]}} CXX=${{matrix.compiler[1]}} cmake .. -G Ninja \
            -DCMAKE_PREFIX_PATH=/opt/homebrew/opt/libomp \
            -DCMAKE_BUILD_TYPE=Release \
            -DAUTOPAS_LOG_ITERATIONS=ON \
            -DMD_FLEXIBLE_FUNCTOR_AUTOVEC=ON \
            -DMD_FLEXIBLE_FUNCTOR_AVX=OFF \
            -DMD_FLEXIBLE_FUNCTOR_SVE=OFF \
            -DAUTOPAS_ENABLE_ENERGY_MEASUREMENTS=OFF
          cmake --build . --target md-flexible
      - name: Run md-flexible
        run: cd build/examples/md-flexible && ./md-flexible

